#login-form {
    padding: 1em;
    display: block;
    text-align: center;
}

.link-paper {
    width: 45%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.login-button {
  color: white;
}
