body {
    margin: 0;
    padding: 0;
}

#root {
    font-family: sans-serif;
}

#login-form, #pass-res-form{
    padding: 1em;
    display: block;
    text-align: center;
}

#login-form .login-form-button{
    margin: 5px;
    min-width: 20em;
}

#login-form .login-form-link{
    padding-top: 1em;
    color: grey;
}

#registration-wrapper {
    padding: 2em;
    max-width: 60em;
    display: block;
    margin: 0 auto;
}

#researcher-charts {
    margin: 0;
}

#researcher-charts .option-buttons{
    text-align: center;
}

.page-title {
    font-size: 2em;
    padding: 1em;
    text-align: center;
}

.link-paper {
    width: 45%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    min-width: 20em;
}

.login-button {
    color: white;
}

.fullwidth-dropdown{
    width: 100% !important;
}

.fullwidth-dropdown div {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}

.fullwidth-dropdown button {
    right: 0 !important;
}

.inline-button {
    margin: 1em !important;
}

.inline-input {
    margin: 1em !important;
    display: inline-block;
}

.option-buttons {
    padding: 1em;
    margin-top: 1em;
    border-top: 1px solid lightgrey;
}

.option-inputs {
    display: table;
    margin: 0 auto;
    padding: 5px;
}